.DS_Store
application/config/database.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/Runtime/*

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
.buildpath
.project
.settings
.idea/*
